ul{
    list-style: none;
}
li{
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 0px 10px 0px;
    border-radius: 0.05 rem;
    margin-top: 5px;
    margin-bottom: 5px;
}


.container{
    width: 900px;
    height: 800px;
    /* background-color: red; */

    margin: auto;
    margin-top: 40px;
    display: flex;
}
.leftcolumn{
    display: inline-block;
    /* background-color: green; */
    width: 300px;
    overflow: hidden;

}


.rightcolumn{
     /* background-color: pink; */
    display: inline-block;
    width: 600px;
    text-align: center;
}

.active{
    background-color: aqua;
    border-radius: 10px;
}


/*    image crop  */
 img.crop{
  width:50px;
  height:50px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 20%;
    object-fit: cover;
}

.bigImg{
    height:800px ;
    width:100%;
    margin-left: 10px;
    object-fit: cover;
    border-radius: 1%;
}